.cardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.cardTitle {
    margin: 0;
    padding: 10px 0 3px 0;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    color: #000;
    line-height: 20px;
}

.cardDescription {
    margin: 0;
    flex: 1;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color: #000;
}