.Modal.expandedView {
    position: relative;
    top: 50px;
    width: 750px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

.expandedView img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.expandedViewScrollContainer {
    position: fixed;
    width: 750px;
    max-width: 90%;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    scrollbar-width: none;
}

.expandedViewScrollContainer::-webkit-scrollbar {
    display: none;
}

.expandedViewContentContainer {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 13px;
    background-color: white;
}