.mobileNavBar {
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 124.33px;
    border-bottom: 0.5px solid #bcc6cf;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(50px);
    --webkit-backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.98);
    /* (plus shape's fill blended on top as a separate layer with 67.62% opacity) */
}

.row {
    flex-direction: row;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mobileNavBar .row:last-of-type{
    overflow-x: scroll;
    max-width: 100%;
    justify-content: start;
    margin: 0 auto;
}

.mobileNavBar .row:last-of-type::-webkit-scrollbar {
    display: none;
}

.rowAccessory {
    display: flex;
    flex-direction: row;
    flex-grow: 1.5;
}

.rowAccessory.left {
    padding-left: 30px;
}

.rowAccessory.right {
    padding-right: 30px;
}

.row h3{
    margin: 0 15px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
    color: #2dbfbf;
    border-bottom: solid #ffffff00;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: border-bottom .5s;
}

.row h3.active{
    border-bottom: solid;
}

.profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    user-select: none;
}

.languageButton {
    background-color: #c6cde0;
    border: none;
    padding: 0 3px;
    font-size: 21px;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 5px;
}

.searchBar {
    flex-grow: 1;
    width: 645px;
    height: 36px;
    border-radius: 17px;
    border: none;
    background: #e7ecf0;
    text-align: center;
    font-weight: normal;
    font-size: 1.0625em;
    /* font-size: 20px; */
    color: #647586;
    outline: none;
    box-sizing: border-box;
}

.searchBar:focus {
    border: solid 2px #2dbfbf;
}

/* #region Media Queries */

@media only screen and (max-width: 500px), screen and (max-height: 500px) {

    .mobileNavBar {
        height: 90px;
    }

    .mobileNavBar .row:first-of-type {
        margin-top: 5px;
    }

    .rowAccessory.left {
        padding-left: 20px;
        padding-right: 10px;
    }
    
    .rowAccessory.right {
        padding-right: 20px;
        padding-left: 10px;
    }
    
}

/* #endregion */